{{!-- <div class="cards">

  <h2>Albums For: {{albumArray.[0].artists.[0].name}}</h2>

  <ul class="album-list"></ul>
  {{#each albumArray}}
  <li class="list-group-item">
    <img src="{{this.images.[1].url}}">
    <h3>{{this.name}}</h3>
    <a href="/tracks/{{this.id}}">View Tracks</a>
  </li>

  {{/each}}
  </ul>
</div> --}}

<div class="container">
  <h2>Albums & Artists Name: <br />{{albumArray.[0].artists.[0].name}}</h2>

  <div class="cards" id="album-list">
    {{#each albumArray}}

    <div class="card">
      <img class="img" src="{{this.images.[1].url}}">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.albums}}</p>
        <a href="/tracks/{{this.id}}" class="btn btn-primary">View Tracks</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>



{{#if albumArray}}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {{!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Sign up</a></li>
         <li class="nav-item"><a class="nav-link" href="/">Login</a></li>
         <li class="nav-item"><a class="nav-link" href="/">Search<a></li>
  </ul> --}}
  </div>
  <h1>Welcome to Spotify!</h1>
</nav>

{{/if}}